
       <div class="container">
          <div class="row justify-content-center">
             <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                
                <div class="card mb-3">
                   <div class="card-body">
                      <div class="pt-4 pb-2">
                         <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                         <p class="text-center small">Enter your personal details to create account</p>
                      </div>
                      <form class="row g-3" [formGroup]="signForm" (ngSubmit)="signup()" >
                        
                         <div class="col-12">
                            <label for="yourUsername" class="form-label">Name</label>
                            <div class="input-group has-validation">
                               <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
                                <input type="text" placeholder="Type your Name" class="form-control" formControlName="name"  required>
                            </div>
                         </div>
                        
                         
                         <div class="col-12">
                           <label for="yourUsername" class="form-label">Email Id</label>
                           <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-envelope"></i></span>
                               <input type="text" placeholder="Email Id" class="form-control" formControlName="emailId"  required>
                           </div>
                        </div>
                              

                        <div class="col-12">
                            <label for="yourUsername" class="form-label">Phone No</label>
                            <div class="input-group has-validation">
                               <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-phone"></i></span>
                                <input type="text" placeholder="phone No" class="form-control" formControlName="phone"   required>
                            </div>
                         </div>
                        
                            
                   
                            
                        <div class="col-12">
                            <label for="yourUsername" class="form-label">Address </label>
                            <div class="input-group has-validation">
                               <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-address-book"></i></span>
                                <input type="text" placeholder="address" class="form-control" formControlName="address"  required>
                            </div>
                         </div>
                       
                       
                            
                         <div class="col-12">
                           <label for="yourUsername" class="form-label">Password</label>
                           <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-lock"></i></span>
                               <input type="password" placeholder="Password" class="form-control"  formControlName="password" required>
                           </div>
                        </div>

                       

                         <div class="col-12">
                            <div class="form-check">
                               <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required> <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                               <div class="invalid-feedback">You must agree before submitting.</div>
                            </div>
                         </div>
                         <div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="signForm.invalid">Create Account</button></div>
                         <div class="col-12">
                            <p class="small mb-0">Already have an account? <a routerLink="/dashboard/login">Log in</a></p>
                         </div>
                      </form>
                   </div>
                </div>
                
             </div>
          </div>
       </div>
  