
<div class="container-fluid py-4" style="margin-left: 500px;">
    <div class="row">
      <div class="col col-md-4">
        <div class="card shadow-0 border">
          <div class="card-body">
            <div class="page-title">
              <h5>Login Page</h5>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="col-12">
                    <label for="yourUsername" class="form-label">Name</label>
                    <div class="input-group has-validation">
                       <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-envelope"></i></span>
                        <input type="text" placeholder="Type your Name" class="form-control" formControlName="emailId"  required>
                    </div>
                 </div>
         <br>
                 <div class="col-12">
                    <label for="yourUsername" class="form-label">Password</label>
                    <div class="input-group has-validation">
                       <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" placeholder="Password" class="form-control"  formControlName="password" required>
                    </div>
                 </div>
                  <br>
                  <br>
                 <div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">Login</button></div>
                         <div class="col-12">
                            <p class="small mb-0">Don't have an account? <a routerLink="/dashboard/signup">Log in</a></p>
                         </div>

                </form>
          </div>
        </div>
      </div>
    </div>
</div>
